{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static "fontawesome-free-5.13.1-web/css/all.css" %}">
        <style>
            main > .container {
                padding: 60px 15px 0;
            }
        </style>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">Удостоверяющий центр</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>

                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if user.last_name %}
                                        {{ user.last_name }} {{ user.first_name }}
                                    {% else %}
                                        {{ user.user_name }}
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Удостоверяющие центры</a>
                                    <a class="dropdown-item" href="#">Параметры</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'login' %}">Выход</a>
                                </div>
                            </li>

                        </ul>



                    {% else %}
                        <form class="form-inline mt-2 mt-md-0" method="POST" action="{% url 'login' %}">
                             <!-- Пользователь не залогинен, выводим форму для авторизации -->
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" aria-label="Username">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </div>
                                </div>
                                <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" aria-label="Password">
                            </div>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>


                        </form>
                    {% endif %}
                </div>
            </nav>
        </header>

        {% block content %}

        {% endblock %}








<!--

        <nav class="navbar is-white">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item brand-text" href="/">
                        Certification Authority
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">

                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="dropdown">
                                {% if user.is_authenticated %} -->
                                    <!-- Пользователь авторизован, выводим главное меню портала доступное для админов --><!--
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                                            <span>Menu</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                                        <div class="dropdown-content">
                                            <a href="#" class="dropdown-item">
                                                Параметры
                                            </a>
                                            <hr class="dropdown-divider">
                                            <a href="{% url 'login' %}" class="dropdown-item">
                                                Выход
                                            </a>
                                        </div>
                                    </div>
                                {% else %} -->
                                    <!-- Пользователь не залогинен, выводим форму для авторизации --><!--
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                                            <span>Log in</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                                        <div class="dropdown-content">
                                            <form method="POST" action="{% url 'login' %}">
                                            <div class="dropdown-item">

                                                    {% csrf_token %}
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" type="email" placeholder="Email">
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-envelope"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" type="password" placeholder="Password">
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-lock"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <div class="control">
                                                            <button class="button is-success" type="submit">Submit</button>
                                                        </div>
                                                    </div>




                                            </div></form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>












    <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>


        <form method="POST" action="{% url 'login' %}">


                                                    {% csrf_token %}
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" name="username" type="text" placeholder="Username">
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-envelope"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" name="password" type="password" placeholder="Password">
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-lock"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <div class="control">
                                                            <button class="button is-success" type="submit">Submit</button>
                                                        </div>
                                                    </div>




                                            </form>

    </div>


    </section>
    -->


    </body>
</html>